{% load static %}

<footer id="footer" class="section section-grey">
    
    <div class="container">
     
        <div class="row">
           
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                  
                    <div class="footer-logo">
                        <a class="logo" href="#">
                <img src="{% static 'img/logo1.png'%}" alt="">
              </a>
                    </div>
                    

                    <p>Ulaşabileceğiniz platformlar</p>

                    
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    
                </div>
            </div>
           

           
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Hesabım</h3>
                    <ul class="list-links">
                        <li><a href="#">Hesabım</a></li>
                        <li><a href="#">Listem</a></li>
                        <li><a href="#">Düzenle</a></li>
                        <li><a href="#">Çıkış Yap</a></li>
                        <li><a href="#">Giriş</a></li>
                    </ul>
                </div>
            </div>
           
            <div class="clearfix visible-sm visible-xs"></div>

          
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Müşteri Servisi</h3>
                    <ul class="list-links">
                        <li><a href="#">Hakkımda</a></li>
                        <li><a href="#">Satış Ve İade</a></li>
                        <li><a href="#">Satış Bilgileri</a></li>
                        <li><a href="#">Sorular</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Ulaşabilirsiniz</h3>
                    <p>Mail üzerinden bana ulaşabilirsiniz.</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <button class="primary-btn">Mail Gönder</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->

<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/slick.min.js'%}"></script>
<script src="{% static 'js/nouislider.min.js'%}"></script>
<script src="{% static 'js/jquery.zoom.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>