{% extends "homebase.html" %}

{% block title %} Hakkımızda-{{ setting.company}}  {% endblock %}   <!--veritabanından çekiyoruz    title Hakkimizda AŞ. yazisi -->
{% block keywords %} {{ setting.keywords}}{% endblock %}
{% block description %} {{ setting.description}}{% endblock %}
<!-->{% block head %} <link rel='shortcut icon' type='image/x-icon' href='{{ Setting.icon.url }}'/> {% endblock %} # sayfa başlığındaki fotoğraf (icon)<!-->
  


{% block sidebar %}
    {% include "sidebar.html" %}   <!-- sidebari kaldiriyoruzki yazilar net gözüksün -->
{% endblock %}



{% block content %} 

<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Anasayfa</a></li>         
            <li class="active">Hakkımızda</li> 
        </ul>
    </div>
</div>



<div class="section">
    
    <div class="container">
    
        <div class="row">
            {{setting.aboutus|safe}}  <!-- Veritabanindan alinan içeriğin Html kodlarina dönüştürülmesini sağlar.-->
        </div>
        
    </div>
    
</div>

    
{% endblock %}