{% extends "homebase.html" %}

{% block title %} {{ product.title}}  {% endblock %}   <!--veritabanından çekiyoruz    title Hakkimizda AŞ. yazisi -->
{% block keywords %} {{ product.keywords}}{% endblock %}
{% block description %} {{ product.description}}{% endblock %}
<!-->{% block head %} <link rel='shortcut icon' type='image/x-icon' href='{{ Setting.icon.url }}'/> {% endblock %} # sayfa başlığındaki fotoğraf (icon)<!-->
  


{% block sidebar %}
    {% include "sidebar.html" %}   <!-- sidebari kaldiriyoruzki yazilar net gözüksün -->
{% endblock %}



{% block content %} 
                                                         <!--    BREADRUMB KISMINDA HOME>PRODUCTS>ÜRÜN KATAGORİSİ>ÜRÜNÜN BAŞLIĞI ŞEKLİNDEKİ KISIM         -->
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="/category/{{ product.category_id}}/{{ product.category.slug }}">{{ product.category }}</a></li>
            <li class="active">{{  product.title }}</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->


<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->                                   <!--    ÜRÜNÜN DETAY KISMINDA FOTOĞRAF ÇEKME        -->
            <div class="product product-details clearfix">   
                <div class="col-md-6">
                    <div id="product-main-view">
                        <div class="product-view">
                            <img src="{{product.image.url}}" alt="">
                        </div>
                        {% for rs in images%}                                         <!-- ÜRÜNÜN FOTOĞRAFLARINI DÖNGÜYE SOKUYORUZ-->                                    
                        <div class="product-view">
                            <img src="{{rs.image.url}}" alt="">
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div id="product-view">                                            <!-- BU KISIMDA ALTTAKİ DETAY KISMINDAKİ FOTOĞRAFIN KONULMASI VE İÇERİKTEN BAHSEDİLMESİ-->
                        <div class="product-view">
                            <img src="{{product.image.url}}" alt="">
                        </div>
                        {% for rs in images%}
                        <div class="product-view">
                            <img src="{{rs.image.url}}" alt="">
                        </div>
                        {% endfor %}
                    </div>       

                    
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                        



                        <div class="product-label">
                            <span>New</span>
                            <span class="sale">-20%</span>
                        </div>
                        <h2 class="product-name">{{  product.title }}</h2>
                        <h3 class="product-price">{{  product.price }} <del class="product-old-price">{{  product.price }}</del></h3>
                        <div>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <a href="#">3 Review(s) / Add Review</a>
                        </div>
                        <p><strong>Availability:</strong> In Stock</p>
                        <p><strong>Brand:</strong> E-SHOP</p>
                        <p>{{  product.description }}</p>
                       

                        <div class="product-btns">
                            <form action="/order/addtocart/{{ product.id }}/" method="post">
                                {% csrf_token %}
                                <div class="qty-input">
                                    <span class="text-uppercase">Adet: </span>
                                    <input name="quantity" class="input" type="number" min="0" max="{{product.amount}}" value="1">
                                </div>
                                <button type="submit" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                            </form>
                            



                            <div class="pull-right">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Details</a></li>
                            <li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
                           
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <p>{{product.detail| safe}} </p>
                            <div id="tab2" class="tab-pane fade in">

                              



                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
    
{% endblock %}